@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;
  --font-family-tertiary: "Lato", sans-serif;
  --body-font: "Roboto", sans-serif;
}

h2 {
  font-family: var(--font-family-primary);
  margin-bottom: 0px;
  font-size: 2.5rem;
  font-weight: 700;
}

p {
  font-family: var(--font-family-primary);
  margin: 0px;
  line-height: 26px;
  font-size: 16px;
  color: #80868b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.blog-container-wrapper {
  display: flex;
  justify-content: center;
  background-color: #ecf0f3;
}
.blog-navbar {
  width: 100%;
  height: 100px;
  background-color: coral;
}
.blog-container {
  width: 75%;
  background-color: #fff;
  font-family: var(--body-font);
}
.blog-sub-container {
  border-bottom: 1px solid #b1b1b1;
}
.container1 p {
  padding: 0px 120px;
}
.blog-sub-container h2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: var(--font-family-tertiary);
  color: #c62727;
}
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}
.welcome-img {
  width: 100%;
  margin-bottom: 60px;
}
.para-container {
  text-align: left;
}
.container2 {
  display: flex;
}
.container2 img {
  width: 50%;
}
.container2 p {
  padding: 0 50px 60px 60px;
}
.container3 {
  display: flex;
  flex-direction: row-reverse;
}
.container3 p {
  padding: 0 50px 60px 50px;
}
.container3 img {
  width: 50%;
}
.container4 img {
  padding-top: 100px;
  width: 700px;
}
.container4 p {
  padding: 0 120px 100px 120px;
}
.container5 {
  display: flex;
}
.container5 p {
  padding: 0 50px 60px 50px;
}
.container5 img {
  width: 50%;
}
.container6 {
  display: flex;
  flex-direction: row-reverse;
}
.container6 img {
  width: 50%;
}
.container6 p {
  padding: 0 50px;
}
.container6 h2 {
  padding-top: 40px;
}
.container7 {
  padding-top: 100px;
}
.container7 img {
  width: 700px;
}
.container7 p {
  padding: 0 120px 60px 120px;
}
@media all and (max-width: 980px) {
  .container2,
  .container3,
  .container5,
  .container6 {
    flex-direction: column;
  }
  .blog-container img {
    width: 100%;
  }
  .container1 p {
    padding: 0 50px 0px 50px;
  }
  .container3 p {
    padding-bottom: 60px;
  }
  .container4 img {
    padding-top: 0;
  }
  .container4 p {
    padding: 0 50px 60px 50px;
  }
  .container6 p {
    padding-bottom: 60px;
  }
  .container7 {
    padding-top: 0px;
  }
}
@media all and (max-width: 1200px) {
  .blog-container {
    width: 90%;
  }
  .container7 p {
    padding: 0 50px 60px 50px;
  }
}
@media all and (max-width: 600px) {
  .blog-container {
    width: 95%;
  }
  .container7 p,
  .container6 p,
  .container5 p,
  .container4 p,
  .container3 p,
  .container2 p,
  .container1 p {
    padding: 0 30px 60px 30px;
  }
  .container1 {
    padding-bottom: 0px;
  }
}
@media all and (max-width: 300px) {
  .blog-container {
    width: 97%;
  }
  .container7 p,
  .container6 p,
  .container5 p,
  .container4 p,
  .container3 p,
  .container2 p,
  .container1 p {
    padding: 0 15px 40px 15px;
  }
  .container1 {
    padding-bottom: 0px;
  }
}
